@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #403f3f;
  --color-secondary: #d72050;
  --color-accent: #706f6f;
  --color-base-100: #f3f3f3;
  --color-base-200: #e7e7e7;
}

* {
  font-family: "Poppins", sans-serif;
}

a.active {
  @apply bg-base-200;
}
